@import "tailwindcss";

@theme {
  /* Backgrounds and base colors */
  --color-background: #131B29;
  --color-text: #F0F4F8;

  /* Quote table headers and row hover */
  --color-head: #8698aa;
  --color-row-hover: #1E3059;

  /* Quote price colors */
  --color-buy-price: #00b15d;
  --color-sell-price: #FF5B5A;

  /* Percent bar background (accumulative size) */
  --color-buy-bar: rgba(16, 186, 104, 0.12);
  --color-sell-bar: rgba(255, 90, 90, 0.12);
  --color-flat-bar: rgba(134, 152, 170, 0.12);

  /* Flash background animation */
  --color-flash-green: rgba(0, 177, 93, 0.5);
  --color-flash-red: rgba(255, 91, 90, 0.5);

  /* Flat price (unchanged) */
  --color-flat-text: #F0F4F8;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

@layer utilities {
  @keyframes flash-green {
    0% {
      background-color: var(--color-flash-green);
      color: var(--color-buy-price);
    }

    100% {
      background-color: transparent;
    }
  }

  @keyframes flash-red {
    0% {
      background-color: var(--color-flash-red);
      color: var(--color-sell-price);
    }

    100% {
      background-color: transparent;
    }
  }

  @keyframes flash-cell-green {
    0% {
      background-color: var(--color-flash-green);
    }

    100% {
      background-color: transparent;
    }
  }

  @keyframes flash-cell-red {
    0% {
      background-color: var(--color-flash-red);
    }

    100% {
      background-color: transparent;
    }
  }

  .animate-flash-green {
    animation: flash-green 0.5s ease-in-out;
  }

  .animate-flash-red {
    animation: flash-red 0.5s ease-in-out;
  }

  .animate-flash-cell-up {
    animation: flash-cell-green 0.5s ease-in-out;
  }

  .animate-flash-cell-down {
    animation: flash-cell-red 0.5s ease-in-out;
  }
}